.light {
    background-color: #ffd3ce; /* Brown color */
    color: #572121; /* White text */
    transition: background-color 9s ease, color 3s ease;
    
  }
  
  /* FiveDayForecast Dark Mode */
  .dark {
    background-color: #1e3a8a; /* Blue color */
    color: #f0f0f0; /* Light gray text */
    transition: background-color 9s ease, color 3s ease;
  }

  .light-text{
    color: #572121;
    transition: color 9s ease, color 3s ease;
  }

  .dark-text{
    color: #000000;
    transition: color 9s ease, color 3s ease;
  }

  .stroke-transition {
    transition: stroke 5s ease;
  }
